@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

//body {
//  font-family: 'helvetica neue', helvetica, arial, sans-serif;
//}

/* swiper css */
.swiper-button-prev,
.swiper-button-next {
  width: 3.125rem !important;
  height: 3.125rem !important;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 100%;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  color: #000;
  height: 1.25rem;
  width: 1.25rem;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  transform: translateY(-60%);
}

// @media screen and (min-width: 800px) {
//   .swiper-button-prev,
//   .swiper-button-next {
//     transform: translateY(-60%);
//   }
// }

/* @media screen and (min-width: 1200px) {
  .swiper-slide {
    padding: 0 4rem;
  }
} */

.hero-swiper .swiper-pagination {
  bottom: 1rem;
  display: flex;
  justify-content: center;
}

.hero-swiper .swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #db0481;
  opacity: 0.5;
  border-radius: 100%;
}

.hero-swiper .swiper-pagination-bullet-active {
  background-color: #db0481;
  opacity: 1;
  //border-radius: 0.375rem;
  //width: 2rem;
}

.featured-swiper .swiper-button-prev {
  left: -1.7rem;
}

.featured-swiper .swiper-button-next {
  right: -1.7rem;
}

.text-shadow-1 {
  text-shadow: 0 0.25rem 0.25rem #0000005f;
}

.slider-swiper-2 {
}

.headcell,
.pricecell {
  @apply py-3 px-3 text-center text-base text-mute2 font-normal border border-[#eceef1] font-poppins;
}

.description-table th {
  font-size: 0.775rem;
  text-align: center;
  border: 1px solid rgb(141, 141, 141);
  padding: 2px 2px 2px 2px;
}

.description-table td {
  font-size: 0.675rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid rgb(141, 141, 141);
  padding: 3px 10px 3px 10px;
}

.description-table table {
  margin-left: 50px !important;
  margin-top: 15px !important;
}

.products-page .list-product .sort-show {
  border: 1px solid #edeff2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.products-page .list-product .sort-show .sort-style {
  display: none;
}

.products-page .list-product .sort-show .select-sort {
  padding: 10px;
  font-size: 14px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
}

.products-page .list-product .sort-show .select-sort .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  position: relative;
}

@media (max-width: 1919px) and (min-width: 1212px) {
  .products-page .list-product .sort-show .select-sort .item.show:after {
    content: '';
    position: absolute;
    top: -10px;
    right: -20px;
    width: 1px;
    height: 66px;
    background-color: #edeff2;
  }
}

.products-page .list-product .sort-show .select-sort .name {
  margin-right: 10px;
  font-weight: 400;
}

.products-page .list-product .sort-show .select-sort .select {
  border: 1px solid #eceef1;
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
  height: 46px;
  position: relative;
}

.products-page .list-product .sort-show .select-sort .select:after {
  position: absolute;
  content: '';
  width: 6px;
  height: 4px;
  top: 50%;
  right: 15px;
  background-size: contain;
  transform: translateY(-50%);
  pointer-events: none;
}

.products-page .list-product .sort-show .select-sort .select select {
  border: none;
  background: transparent;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  padding: 0 30px 0 15px;
  color: #303541;
  font-family: 'Montserrat', sans-serif;
}

.products-page .list-product .sort-show .select-sort .per {
  margin-left: 10px;
  font-weight: 400;
}

.sort-show .paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  border-left: 1px solid #edeff2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort-show .paging .item {
  width: 46px;
  min-width: 46px;
  height: 44px;
  border: 1px solid #eceef1;
  text-align: center;
  font-size: 14px;
  color: #303541;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-show .paging .item:hover,
.sort-show .paging .item.is-active {
  background-color: #db0481;
  color: #fff;
}

.sort-show .paging .prev:hover {
  background-color: #db0481;
  color: #fff;
}

.sort-show .paging .next:hover {
  background-color: #db0481;
  color: #fff;
}

.sort-show.top .select-sort .item.show,
.sort-show.top .paging {
  display: none;
}

.products-page .list-product .sort-show.bottom .select-sort .item.sort-by,
.products-page .list-product .sort-show.bottom .select-sort .item.show .per {
  display: none;
}

.slider-swipper-2 {
  .swiper-button-prev,
  .swiper-button-next {
    transform: unset;
    height: 2.5rem !important;
    width: 2.5rem !important;
    @apply bg-primary-500 border-white;

    &:after {
      @apply block text-xs text-white;
    }
  }

  .swiper-slide-thumb-active {
    @apply border-primary-500;
  }
}

.list-space-container {
  ul {
    @apply space-y-3;
  }
}

.product-description {
  font-size: 15px;
  font-weight: 400;
  color: #676666;
  line-height: 1.6rem;

  li:not(:has(> strong)) {
    padding-left: 6px;
    margin-left: 25px;
    padding-bottom: 3px;
    list-style: disc;
  }
}

.product-additional-info-heading {
  font-size: 15px;
  font-weight: 400;
  color: #676666;
  padding-left: 6px;
  margin-left: 15px;
  margin-bottom: 0.3rem;
}

.product-additional-info-value {
  font-size: 15px;
  color: #676666;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 50px;
  margin-bottom: 0.3rem;
}

.MuiListItemButton-root {
  outline: none !important;
}

.MuiAccordionDetails-content {
  overflow-y: auto;
}

.see-less-more {
  display: -webkit-box;
  -webkit-line-clamp: 6 !important;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lg-backdrop,
.lg-outer {
  z-index: 9999 !important;
}

.gallery-container .lg-react-element {
  display: flex;
  gap: 0.75rem;
  overflow: auto;
  margin-top: 1rem;
}

.disabled-pointer {
  background-color: gray !important;
  color: black !important;
  cursor: not-allowed !important;
}

.banner-text-section {
  text-align: left;
  background-color: #004e7c;
  background-image: url(https://api.totallypromotional.com/Data/Media/74db6767-e312-4ad7-bed5-34de8ce5985fZ-TP-2025-FeatureBackground-lossy.png?v=0);
  background-position: top left;
  background-repeat: no-repeat;
  box-sizing: border-box;
  line-height: normal;
}
